.auth-page-content, html {
  background: #F3F3F3 !important;
}

.auth-page-content .email-form no-padding{
  background: #F3F3F3 !important;
}

.auth-page-content .t-placeholder .ng-star-inserted{
  color: #A0A0A0;

text-align: center;
/* text 2 */
font-family: Raleway;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.auth-page-content #email-form-input{
  border-radius: 20px !important;
border: 3px solid #1B1B1B;
background: #F3F3F3;
}

.auth-page-content  .email-form__title{color: #1B1B1B;
  text-align: center;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;}
  
 .auth-page-content .email-form__sub-title{
    color: #1B1B1B;
  text-align: center;
  /* text 2 */
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }

  .auth-page-content .email-form{
    background: #F3F3F3 !important;
  }

  .auth-page-content input[type="email"]{
    padding: 24px 80px !important;
    color: #A0A0A0;

text-align: center;
/* text 2 */
font-family: Raleway;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  
.auth-page-content  .email-form__submit-button, .auth-page-content  .email-form__submit-button .t-wrapper{
    border-radius: 20px;
  background: #1B1B1B;
    display: inline-flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  }

  .auth-page-content  .email-form {max-width: none !important;}

.auth-page-content .email-form__input-with-button div:has(#email-form-submit-button){
  position: absolute;
  bottom: 70px;
}

.auth-page-content  .t-placeholder .ng-star-inserted {color: #A0A0A0;

  text-align: center;
  /* text 2 */
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;}

  .email-form__input-with-button>div:nth-child(2)>button{
    border-radius: 20px !important;
  }

  #email-form-submit-button .t-content{
    background-color: transparent;
    color: #F3F3F3;
text-align: center;
/* button 1 */
font-family: Raleway;
font-size: 80px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -3px;
text-transform: uppercase;
  }

  .auth-page-content #email-form-submit-button{
    height: auto;
    padding: 20px
    border-radius: 20px !important;
  }