.email-form__title{color: var(--black, #1B1B1B);
text-align: center;
/* text 1 AA */
font-family: Raleway;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;}

.email-form__sub-title{
  color: var(--black, #1B1B1B);
text-align: center;
/* text 2 */
font-family: Raleway;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.email-form__submit-button{
  border-radius: 20px;
background: var(--black, #1B1B1B);
  display: inline-flex;
padding: 24px 80px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
}

div:has(.email-form-submit-button){
  position: absolute;
  top: calc(100% + 49px);
}
