@font-face{
  font-family: "Raleway";
  src: url('./Raleway-Bold.ttf');
  font-style: normal;
  font-display: auto;
  font-weight: 700;
}

@font-face{
  font-family: "Raleway";
  src: url('./Raleway-Medium.ttf');
  font-style: normal;
  font-display: auto;
  font-weight: 500;
  
}

@font-face{
  font-family: "Raleway";
  src: url('./Raleway-Regular.ttf');
  font-style: normal;
  font-display: auto;
  font-weight: 400;
}

:root {
  --tui-link: #9B9FFF !important;
  --tui-link-hover: #5a5c97 !important;
  --tui-autofill: rgba(155, 159, 255, 0.30) !important;
  --tui-base-01: #F3F3F3 !important;
  --custom-font-size-s: 20px;
  --custom-font-size-m: 40px;
  --custom-font-size-l: 80px;
  --custom-font-size-s-m: 16px;
  --custom-font-size-xs-m: 8px;
  --custom-font-size-m-m: 18px;
  --custom-font-size-l-m: 30px;
  --custom-br-m: 20px;
  --custom-br-m-m: 10px;
  --custom-height-m: 104px;
  --custom-height-m-m: 48px;
}

.auth-page-content, html, body {
  background: #F3F3F3 !important;
  overflow: hidden;
}

.auth-page-content *{
  /* text 2 */
font-family: Raleway !important;
transition: all .1s linear;

}

.auth-page-content{
  padding-top: 40px !important;
  justify-content: center!important;
  align-items: center !important;
    flex-direction: column !important;
    height: 100% !important;
}

.auth-page-content .email-form no-padding{
  background: #F3F3F3 !important;
}

.auth-page-content .t-placeholder .ng-star-inserted{
  color: #A0A0A0;

text-align: center;
/* text 2 */
font-size: var(--custom-font-size-m);
font-style: normal;
font-weight: 400;
line-height: normal;
}

.auth-page-content #email-form-input{
  border-radius: var(--custom-br-m) !important;
background: #F3F3F3;
}

.auth-page-content  .email-form__title{color: #1B1B1B;
  text-align: center;
  font-family: Raleway;
  font-size: var(--custom-font-size-m);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 auto;
  text-transform: uppercase;}
  
 .auth-page-content .email-form__sub-title{
    color: #1B1B1B;
  text-align: center;
  /* text 2 */
  font-family: Raleway;
  font-size: var(--custom-font-size-m);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }

  .email-form__input-with-button{
    flex-direction: column !important;
    width: 720px !important;
    max-width: 100% !important;
    margin: 49px auto 0 !important;
  }
  .auth-page-content .email-form{
    background: #F3F3F3 !important;
  }

  .auth-page-content input[type="email"]{
    padding: 24px 0px 0px!important;
    color: #1B1B1B;

text-align: center;
/* text 2 */
font-family: Raleway;
font-size: var(--custom-font-size-m);
font-style: normal;
font-weight: 400;
line-height: normal;
  }

  .auth-page-content .confirm-form__title{
    text-transform: uppercase !important;
  }
  .auth-page-content .confirm-form__description{
    color: #1B1B1B;

    text-align: center;
    /* text 2 */
    font-family: Raleway;
    font-size: var(--custom-font-size-s);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
.auth-page-content  button, .auth-page-content  button .t-wrapper{
    border-radius: var(--custom-br-m);
  background: #1B1B1B;
    display: inline-flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
transition: all .05s linear;
  }


  .auth-page-content  button{
    border: 3px solid #1B1B1B;
  }

  .auth-page-content  button *{
    color: #F3F3F3;
  }

.auth-page-content  button:hover, .auth-page-content  button:hover .t-wrapper{
  background-color: #F3F3F3;
  color: #1B1B1B;
}

.auth-page-content  button:hover .t-content, .auth-page-content  #email-form-submit-button:hover .t-content{
  color: #1B1B1B !important;
}

  .auth-page-content  .email-form {max-width: none !important;}

.auth-page-content .email-form__input-with-button div:has(#email-form-submit-button){
  margin-top: 49px;
}

.auth-page-content  .t-placeholder .ng-star-inserted {color: #A0A0A0;

  text-align: center;
  /* text 2 */
  font-family: Raleway;
  font-size: var(--custom-font-size-m);
  font-style: normal;
  font-weight: 400;
  line-height: normal;}

  .auth-page-content .email-form__input-with-button>div:nth-child(2)>button, .auth-page-content .password-form__input-with-button>div:nth-child(2)>button{
    border-radius: var(--custom-br-m) !important;
  }

  #email-form-submit-button .t-content{
    background-color: transparent;
    color: #F3F3F3;
text-align: center;
/* button 1 */
font-family: Raleway;
font-size: 80px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -3px;
text-transform: uppercase;
  }

  .auth-page-content #email-form-submit-button{
    height: auto;
    padding: 20px;
    border-radius: var(--custom-br-m) !important;
  }

  #email-form-input .t-textfield, #email-form-input .t-textfield{
    height: var(--custom-height-m);
    margin: 0 auto;
    max-height: none;
  }

  .auth-page-content .tui-autofill{
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: transparent !important;
    box-sizing: border-box;
    border: 3px solid #1B1B1B;
    height: var(--custom-height-m);
  }

  .auth-page-content .tui-autofill input{
    text-align: left !important;
    padding: 30px 20px 10px !important;
  }

  .auth-page-content .tui-autofill._invalid.focused{
    border: none;
  }
  
  .auth-page-content .tui-autofill  .t-placeholder{
    color: #A0A0A0 !important;

    /* text 2 */
    font-family: Raleway !important;
    font-size: var(--custom-font-size-m)!important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
  }

  .auth-page-content .tui-autofill  .t-placeholder.t-placeholder_raised{
    color: #A0A0A0 !important;
    transform: translateY(-25px) !important;
    font-size: var(--custom-font-size-s)!important;
  }

  .auth-page-content .email-form{
    position: relative;
  }

  .auth-page-content .tui-autofill .t-content{
    overflow: visible !important;
  }
  .t-message-text.ng-tns-c207-5.ng-trigger.ng-trigger-tuiFadeIn.ng-star-inserted{
    width: 100%;
    margin: 8px 0 0;
    font-size: var(--custom-font-size-s);
    line-height: normal;
    color: #FF1C1C;
  }

  [tuiWrapper][data-appearance=textfield]:invalid:invalid._focused._focused, [tuiWrapper][data-appearance=textfield]._invalid._invalid._focused._focused{
    transition: border .1s linear;
    border: 3px solid #FF1C1C !important;
  }

  .tui-autofill._invalid{
    --tui-focus: transparent !important;
  }

  .tui-autofill._focused{
    --tui-focus: transparent !important;
  }


  /* FORM 3 */   /* FORM 3 */  /* FORM 3 */  /* FORM 3 */  /* FORM 3 */  /* FORM 3 */  /* FORM 3 */  /* FORM 3 */  /* FORM 3 */
  /* FORM 3 */  /* FORM 3 */  /* FORM 3 */  /* FORM 3 */  /* FORM 3 */  /* FORM 3 */  /* FORM 3 */  /* FORM 3 */  /* FORM 3 */
  /* FORM 3 */  /* FORM 3 */  /* FORM 3 */  /* FORM 3 */  /* FORM 3 */  /* FORM 3 */  /* FORM 3 */  /* FORM 3 */  /* FORM 3 */

.password-form{
  background-color: #F3F3F3 !important;
}

.password-form .password-form__title{
  color: #1B1B1B;
  text-align: center;
  /* text 2 */
  font-family: Raleway;
  font-size: var(--custom-font-size-m);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.password-form .link-row a{
  color: #5574DD;
}

.password-form .password-form__back-button .t-wrapper, .back-button .t-wrapper{
  background-color: transparent !important;
  background-image: url('./arrow.svg') !important;
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position: center;
}

.password-form .password-form__back-button .t-content,.verification-form .back-button .t-content {
  display: none;
}

.back-button {
  width: 64px !important;
    height: 64px !important;
    background-color: transparent !important;
    left: 0 !important;
      top: 0 !important;
      border: none !important;
}

.back-button .t-content{
  display: none !important;
}

.password-form .t-icon, .set-password-form .t-icon{
  width: 64.906px !important;
  height: 45.572px  !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.password-form input[type="text"] + .t-content .t-icon,
.set-password-form input[type="text"] + .t-content .t-icon{
  background-image: url('./eye.svg');
}

.password-form input[type="password"] + .t-content .t-icon,
.set-password-form input[type="password"] + .t-content .t-icon{
  background-image: url('./eyeClosed.svg');
}

.password-form .t-placeholder{
  color: #A0A0A0;

font-size: var(--custom-font-size-s);
font-style: normal;
font-weight: 400;
line-height: normal;
}

.password-form .tui-autofill{
  font-size: var(--custom-font-size-m);
  line-height: 40px;
  height: var(--custom-height-m);
}

.password-form * {
  font-family: Raleway !important;
}

.password-form .back-button{
  top: 10px;
}


.password-form .t-src, .set-password-form .t-src{
  display: none !important;
}

.password-form:has(input[type='text']) .t-icon,
.set-password-form:has(input[type='text']) .t-icon{
  background-image: url('./eye.svg');
}

.password-form__input-with-button>div:nth-child(2)>button {
  border-top-left-radius: 20px!important;
  border-bottom-left-radius: 20px!important;
}

.auth-page-content .tui-form__button{
  border-radius: var(--custom-br-m) !important;
  font-size: var(--custom-font-size-l)!important;
  line-height: 94px !important;
  padding: 24px 80px !important;
  text-transform: uppercase;
  height: 142px !important;
}

#password-form-submit-button .t-content{
  font-family: Raleway;
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 94px;
  letter-spacing: -3px;
  text-transform: uppercase;
}

#password-form-submit-button .t-content{
padding: 24px 80px;
}

.auth-page-content #password-form-submit-button{
  height: 142px !important;
}

.auth-page-content button{
  max-width: 90vw !important;
  margin: 0 auto !important;
}

.auth-page-content .password-form{
  max-width: 817px !important;
}

.auth-page-content .password-form__input-with-button{
  max-width: 721px  !important;
  height: 100% !important;
  flex-direction: column !important;
  gap: 20px !important;
}

.password-form .link-row{
  text-align: center;
  font-size: var(--custom-font-size-s);
}
.auth-page-content  .password-form__input-with-button>div:first-child>.input-control{
  border-top-right-radius: 20px!important;
  border-bottom-right-radius: 20px!important;
  border-radius: var(--custom-br-m)!important;
}

.password-form{
  position: static !important;
}

.auth-page-content .back-button .t-wrapper, .auth-page-content .back-button button{
background-color: transparent !important;
}

/* SET PASSWORD  */  /* SET PASSWORD  */  /* SET PASSWORD  */  /* SET PASSWORD  */  /* SET PASSWORD  */  /* SET PASSWORD  */  /* SET PASSWORD  */  
/* SET PASSWORD  */  /* SET PASSWORD  */  /* SET PASSWORD  */  /* SET PASSWORD  */  /* SET PASSWORD  */  /* SET PASSWORD  */  /* SET PASSWORD  */  
/* SET PASSWORD  */  /* SET PASSWORD  */  /* SET PASSWORD  */  /* SET PASSWORD  */  /* SET PASSWORD  */  /* SET PASSWORD  */  /* SET PASSWORD  */  

.set-password-form{
  background-color: transparent !important;
  max-width: 794px !important;
}

tui-input-password{
  border-radius: var(--custom-br-m) !important;
  height: var(--custom-height-m) !important;
  box-sizing: content-box !important;
}

/* CONFITM FORM */   /* CONFITM FORM */   /* CONFITM FORM */   /* CONFITM FORM */   /* CONFITM FORM */   /* CONFITM FORM */   /* CONFITM FORM */   
/* CONFITM FORM */   /* CONFITM FORM */   /* CONFITM FORM */   /* CONFITM FORM */   /* CONFITM FORM */   /* CONFITM FORM */   /* CONFITM FORM */   
/* CONFITM FORM */   /* CONFITM FORM */   /* CONFITM FORM */   /* CONFITM FORM */   /* CONFITM FORM */   /* CONFITM FORM */   /* CONFITM FORM */   

.confirm-form{
  background-color: transparent !important;
  max-width: none !important;
}

.confirm-form .confirm-form-title{
  color:  #1B1B1B;
  text-align: center;
  /* text 2 */
  font-size: var(--custom-font-size-m);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px auto !important;
}

.confirm-form #confirm-form-description-desktop{
  color: #1B1B1B;
text-align: center;
/* text 3 */
font-family: Raleway;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

[_nghost-ldx-c163], .auth-page-content .confirm-form .confirm-form-go-back-row{
  margin-top: 49px !important;
  color: #5574DD !important;

text-align: center !important;
font-size: 25px !important;
font-style: normal !important;
font-weight: 400 !important;
line-height: normal !important;
}

.auth-page-content {
  display: flex;
  justify-content: center !important;
  align-items: center;
  flex-direction: column;
  padding: 0 !important;
}

/* PHONE VERIFICATION */  /* PHONE VERIFICATION */  /* PHONE VERIFICATION */  /* PHONE VERIFICATION */  /* PHONE VERIFICATION */  /* PHONE VERIFICATION */  /* PHONE VERIFICATION */  
/* PHONE VERIFICATION */  /* PHONE VERIFICATION */  /* PHONE VERIFICATION */  /* PHONE VERIFICATION */  /* PHONE VERIFICATION */  /* PHONE VERIFICATION */  /* PHONE VERIFICATION */  
/* PHONE VERIFICATION */  /* PHONE VERIFICATION */  /* PHONE VERIFICATION */  /* PHONE VERIFICATION */  /* PHONE VERIFICATION */  /* PHONE VERIFICATION */  /* PHONE VERIFICATION */  

tui-input-phone{
  width: 793px !important;
}

.auth-page-content .verification-form{
  background: transparent !important;
  max-width: none !important;
  height: 100% !important;
  max-height: none !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.verification-form button .t-wrapper:active{
  background: transparent;
}

.verification-form .input-container{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-page-content .verification-form .tui-group_rounded.tui-group_orientation_horizontal>*[data-size=l]:last-child,
.auth-page-content .verification-form .tui-group_rounded.tui-group_orientation_horizontal>*[data-size=l]:first-child
{
  border-top-right-radius:  20px !important;
  border-bottom-right-radius:  20px !important;
  border-radius: var(--custom-br-m) !important;
}

.t-country-select .t-content{
padding: 0 !important;
margin-left: -6px;
}

.confirm-form__go-back-row{
  font-size: 25px;
}


.verification-form .title,  .sub-title, .title{
  color: #1B1B1B !important;
text-align: center !important;
/* text 2 */
font-family: Raleway !important;
font-size: var(--custom-font-size-m)!important;
text-transform: uppercase;
font-style: normal !important;
font-weight: 400 !important;
line-height: normal !important;
max-width: 90% !important;
}

.verification-form .title{
  padding: 0 auto !important;
}

.verification-form .sub-title{
  padding-bottom: 20px !important;
  padding-top: 28px !important;
}

.sub-title{
  text-transform: none;
}

.verification-form .tui-form__buttons{
  margin-top: 49px;
}

.verification-form  tui-input-phone-international{
  height: var(--custom-height-m) !important;
}

.tui-autofill input{
  font-family: Raleway !important;
  font-size: var(--custom-font-size-m)!important;
  font-style: normal !important;
  font-weight: 400 !important;
}

.t-country-select .tui-autofill{
  width: 218px;
}

div[eva-automation-id="tui-input-phone-international__back__phone-verification-page"]{
  height: var(--custom-height-m) !important;

}

.tui-autofill .t-content{
  padding: 0 !important;
}

.tui-autofill input[type="tel"]{
  padding: 0 20px !important;
}

.t-country-select{
  width: 218px !important;
}

.t-input-phone{
  max-width: 721px !important;
}

.verification-form  .tui-group{
  justify-content: center;
  gap: 8px !important;
}

.t-flag {
  width: 101px !important;
  height: auto !important;
  left: -15px;
  position: relative;
}

.verification-form  .t-icon .t-src svg{
  max-height: none !important;
  height: 26px !important;
  width: 21px !important;
}

.verification-form  .tui-form__buttons{
  justify-content: center !important;
}

tui-hint {
  border-radius: 14px !important;
  background-color: #c8caff;
  color: #1B1B1B;
  font-size: var(--custom-font-size-s);
  line-height: normal;
}

.tui-form__button:hover .t-wrapper{
  background-color: transparent !important;
}

tui-dropdown{
  left: calc(50% - 240px) !important;
  top: calc(50% - 372px) !important;
  max-height: none !important;
  height: 250px !important;
  border: 3px solid #1B1B1B !important;

}

tui-input{
  height: var(--custom-height-m) !important;
}

.info_resend, .no-code{
  color: #9B9FFF !important;
  font-size: var(--custom-font-size-s)!important;
  width: auto !important;
  text-align: center !important;
}

.sms-code-input{
  width: 272px !important;
}

.t-loader{
  stroke: rgba(155, 159, 255, 0.30) !important;
}

/* REGISTER FORM */    /* REGISTER FORM */    /* REGISTER FORM */    /* REGISTER FORM */    /* REGISTER FORM */    /* REGISTER FORM */    
/* REGISTER FORM */    /* REGISTER FORM */    /* REGISTER FORM */    /* REGISTER FORM */    /* REGISTER FORM */    /* REGISTER FORM */    
/* REGISTER FORM */    /* REGISTER FORM */    /* REGISTER FORM */    /* REGISTER FORM */    /* REGISTER FORM */    /* REGISTER FORM */

.register-form{
  background-color: transparent !important; 
  max-width: none !important;
}

.agreement-block{
  font-size: var(--custom-font-size-s)!important;
  line-height: 130% !important;
}

.register-form .tui-form__row_multi-fields{
  height: var(--custom-height-m);
}

.auth-page-content .register-form .tui-form__button{
  font-size: var(--custom-font-size-m)!important;
  max-height: 100px !important;
}

.t-input{
  padding-top: 30px !important;
}

.password-form .password-form__back-button .t-wrapper, .back-button .t-wrapper{
  background-color: transparent !important;
}

@media screen and (max-width: 930px) {
  input[type="tel"]{
    padding: 20px 20px 10px !important;
  }
  
  .password-form .t-placeholder,
  .auth-page-content .confirm-form__description,
  .info_resend, .no-code,
  .agreement-block,
  .password-form .link-row,
  tui-hint{
    font-size: var(--custom-font-size-s-m) !important;
    line-height: normal;
  }

  .auth-page-content .tui-autofill  .t-placeholder.t-placeholder_raised,
  .t-message-text.ng-tns-c207-5.ng-trigger.ng-trigger-tuiFadeIn.ng-star-inserted{
    font-size: var(--custom-font-size-xs-m) !important;
    line-height: normal;
  }

  .auth-page-content .t-placeholder .ng-star-inserted,
  .auth-page-content  .email-form__title,
  .auth-page-content .email-form__sub-title,
  .auth-page-content input[type="email"],
  .auth-page-content  .t-placeholder .ng-star-inserted,
  .password-form .password-form__title,
  .password-form .tui-autofill,
  .confirm-form #confirm-form-title,
  .auth-page-content .tui-autofill  .t-placeholder,
  .verification-form .title, .verification-form .sub-title, .sub-title, .title,
  .tui-autofill input,
  .auth-page-content .register-form .tui-form__button{
    font-size: var(--custom-font-size-m-m) !important;
    line-height: normal;
  }


  #email-form-submit-button .t-content,
  #password-form-submit-button .t-content,
  .auth-page-content .tui-form__button{
    font-size: var(--custom-font-size-l-m) !important;
    line-height: normal;
  }

  .auth-page-content #email-form-input,
  .auth-page-content  button, .auth-page-content  button .t-wrapper,
  .auth-page-content .email-form__input-with-button>div:nth-child(2)>button, .auth-page-content .password-form__input-with-button>div:nth-child(2)>button,
  .auth-page-content #email-form-submit-button,
  .auth-page-content .tui-form__button,
  tui-input-password,
  .auth-page-content  .password-form__input-with-button>div:first-child>.input-control,
  .auth-page-content .verification-form .tui-group_rounded.tui-group_orientation_horizontal>*[data-size=l]:last-child,
  .auth-page-content .verification-form .tui-group_rounded.tui-group_orientation_horizontal>*[data-size=l]:first-child{
    border-radius: var(--custom-br-m-m) !important;
  }

  .auth-page-content .back-button button {
    border-radius: var(--custom-br-m) !important;
  } 

  .verification-form  tui-input-phone-international,
  div[eva-automation-id="tui-input-phone-international__back__phone-verification-page"],
  tui-input,
  .register-form .tui-form__row_multi-fields,
  #email-form-input .t-textfield, #email-form-input .t-textfield,
  .auth-page-content .tui-autofill,
  .password-form .tui-autofill{
    height: var(--custom-height-m) !important;
  }
  
  .t-country-select{
    width: 70px !important;
  }

  .t-flag{
    left: -5px !important;
    width: 22px !important;
  }

  .t-country-select .tui-autofill {
    width: 70px !important;
  }

  .verification-form tui-input-phone-international{
    height: 56px !important;
  }

  .auth-page-content .tui-autofill{
    height: 56px;
    padding: 7px;
  }
  .auth-page-content .tui-autofill  .t-placeholder.t-placeholder_raised{
    color: #A0A0A0 !important;
    transform: translateY(-12px) !important;
  }

  tui-dropdown,
  .auth-page-content  button:hover,
  .auth-page-content .tui-autofill,
  .auth-page-content .tui-autofill._invalid.focused,
  .auth-page-content  button,
  [tuiWrapper][data-appearance=textfield]:invalid:invalid._focused._focused, [tuiWrapper][data-appearance=textfield]._invalid._invalid._focused._focused{
    border-width: 1px !important;
  }

  tui-dropdown{
    left: calc(50% - 137px) !important;
    top: calc(50% - 270px) !important;
    max-height: none !important;
    height: 150px !important;
  }

  .auth-page-content .tui-form__button{
    padding: 0px !important;
    height: 70px !important;
    width: 100% !important;
  }

  .verification-form .tui-form__buttons{
    margin-top: 32px !important;
  }

  .back-button {
    width: 30px !important;
      height: 30px !important;
      background-color: transparent !important;
      border: none !important;
  }

  .verification-form .sub-title{
    padding: 0 !important;
  }

  .verification-form{
    padding: 0 !important;
  }

  .verification-form .input-container *{
    margin: 0 auto !important;
  }

  .auth-page-content{
    width: 100% !important;
  }

  .verification-form .t-textfield-icon{
    margin-left: -5px !important;
  }

  .t-input-phone{
    max-width: none !important;
  }

  .auth-page-content input[type="email"]{
    padding-bottom: 10px !important;
  }
  
  .auth-page-content .email-form {
      position: relative !important;
      padding: 0 !important;
      display: flex !important;
      flex-direction: column !important;
      justify-content: center !important;
      gap: 15px !important;
  }
  
  .email-form__input-with-button * {
    margin: 0 !important;
  }

  .email-form__input-with-button > div{
    width: 100% !important;
  }

  .email-form__input-with-button{
    margin-top: 0 !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 15px ;
    max-width: 277px !important;
  }

  #email-form-input .t-textfield, #email-form-input .t-textfield,
  .auth-page-content .tui-autofill,
.password-form .tui-autofill,
.verification-form  tui-input-phone-international,
div[eva-automation-id="tui-input-phone-international__back__phone-verification-page"],
tui-input,
.register-form .tui-form__row_multi-fields, tui-input-password{
  height: var(--custom-height-m-m) !important;
}

.password-form .t-icon, .set-password-form .t-icon{
  width: 36px !important;
  height: 26px  !important;
}

.t-input{
  padding-top: 20px !important;
  padding-left: 20px !important;
}

.auth-page-content .tui-autofill{
  padding: 10px 20px !important;
}

.auth-page-content .tui-autofill input{
  padding: 20px 20px 10px !important;
}

tui-hint {
  border-radius: 7px !important;
}

.set-password-form-content .t-input{
  padding: 17px 35px 0 20px!important;
}

.set-password-form-content .form{
  margin-top: 15px !important;
}

.t-country-select .t-content{
  margin-right: -12px;
}

.auth-page-content .verification-form .tui-autofill{
  padding: 0 5px 0 0 !important;
}

.auth-page-content .verification-form .tui-autofill:has(input[type="tel"]){
  padding: 0 20px !important;
}

.auth-page-content .tui-form__button{
  padding: 0px !important;
  text-transform: uppercase;
  width: 100% !important;
  height: 70px !important;
}

.password-form__input-with-button > div{
  margin: 0 auto !important;
  width: 100% !important;
}
.auth-page-content #password-form-submit-button{
  height: 70px !important;
}

.auth-page-content .confirm-form #confirm-form-go-back-row{
  font-size: 16px !important;
  font-style: normal !important;
}

.auth-page-content .confirm-form > div,
.auth-page-content .email-form > div,
.verification-form .input-container > div{
  width: 100% !important;
  margin: 0 auto !important;
}

tui-input-phone{
  max-width: none !important;
}

.auth-page-content .confirm-form, .auth-page-content .email-form, .verification-form .input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.email-form__title{
  max-width: 90% !important;
}
}